<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SetupProject1" Language="1033" Version="1.0.0.0" Manufacturer="Ashaen Manuel" UpgradeCode="9bba03d2-5482-4f23-ae89-4b89c47bf92c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DeploymentTask1" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- EXE -->
			<Component Id="DeploymentTask1Exe" Guid="C07C3671-6E22-4EF0-B53A-5A04EA575C86">
				<File Id="DeploymentTask1ExeFile" Name="DeploymentTask1.exe" Source="$(var.DeploymentTask1.TargetDir)DeploymentTask1.exe" KeyPath="yes"/>
			</Component>
			<!-- Math DLL -->
			<Component Id="MathLibraryDll" Guid="05530D2E-E14B-47F6-B72E-537AFF57B58F">
				<File Id="MathLibraryFile" Name="MathLibrary.dll" Source="$(var.MathLibrary.TargetDir)MathLibrary.dll" KeyPath="yes" />
			</Component>
			<!-- Author DLL -->
			<Component Id="AuthorLibraryDll" Guid="8D0989DA-CC89-4A70-AB2F-765066E781AE">
				<File Id="AuthorLibraryFile" Name="AuthorLibrary.dll" Source="$(var.AuthorLibrary.TargetDir)AuthorLibrary.dll" KeyPath="yes" />
			</Component>
			</ComponentGroup>
	</Fragment>
</Wix>
